rentokil/src/main/app/SftpToDbflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd">
    <spring:beans>
        <spring:bean id="msSqlDataSource" name="Bean" class="org.enhydra.jdbc.standard.StandardDataSource" destroy-method="shutdown">
            <spring:property name="url" value="jdbc:sqlserver://${mssql.db.host};databaseName=${mssql.db.name};user=${mssql.db.user};password=${mssql.db.password}"/>
            <spring:property name="driverName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        </spring:bean>
<!-- 
	<spring:bean id="mySqlDataSource" name="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<spring:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<spring:property name="url" value="jdbc:mysql://${mysql.db.host}/${mysql.db.name}" />
		<spring:property name="username" value="${mssql.db.user}"/>
		<spring:property name="password" value="${mssql.db.password}" />
	</spring:bean>  -->
	
    </spring:beans>
    
    <data-mapper:config name="CSV_To_Pojo" transformationGraphPath="csv_to_pojo_1.grf" doc:name="CSV_To_Pojo"/>
    <data-mapper:config name="Pojo_To_XML" transformationGraphPath="pojo_to_xml.grf" doc:name="Pojo_To_XML"/>
    <ftp:connector name="FTP" pollingFrequency="1000" validateConnections="true" doc:name="FTP"/>
    
    <flow name="SftpToDbflow" doc:name="SftpToDbflow">
     <sftp:inbound-endpoint host="${sftp.server.host}" port="${sftp.server.port}" path="${path.to.download}" user="${user}" password="${password}" responseTimeout="10000" doc:name="SFTP"/>
         <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
          <message-properties-transformer doc:name="Message Properties" >
            <add-message-property key="SftpPayload" value="#[payload]"/>
        </message-properties-transformer>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into Rentokil_Order( MessageId,CSVFILE,TS) values (#[message.id],#[payload],#[server.dateTime.format("yyyy-MM-dd HH:mm:ss")])]]></db:parameterized-query>
        </db:insert>
         <logger level="INFO" doc:name="Logger" message="db response:#[payload]"/>
        <component class="com.ww.rentokil.processor.FileStreamProcessor" doc:name="Java"/>
        <data-mapper:transform config-ref="CSV_To_Pojo" doc:name="CSV To Pojo"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <component class="com.ww.rentokil.processor.SftpFileProcessor" doc:name="Java"/>
        <flow-ref name="DbToFtpSubflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="DbToFtpSubflow" doc:name="DbToFtpSubflow">
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <data-mapper:transform config-ref="Pojo_To_XML" doc:name="Pojo To XML"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
       <!--  <ftp:outbound-endpoint host="${ftp.server.host}" port="${ftp.server.port}" responseTimeout="10000" doc:name="FTP" outputPattern="*.xml" password="${password}" user="${user}"/> -->
        <file:outbound-endpoint path="${path.to.upload}"  responseTimeout="10000" doc:name="File" outputPattern="#[message.id].xml"/>
    </flow>
</mule>
